.todo-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.todo-item:hover {
  background-color: #d4dfe6;
}

.delete-item {
  margin-right: 1rem;
  color: red;
  font-weight: 600;
  opacity: 0;
}

.todo-item:hover .delete-item {
  opacity: 1;
}

.todo-text {
  flex: 1;
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  color: #adb5bd;
}

.check-mark {
  font-size: 1.5rem;
  line-height: 1rem;
  margin-right: 1rem;
  color: #6aafe6;
}
